<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDph2lYGgqAl1oQ1ZVQUs66j9U7Yv3VSco</string>
	<key>GCM_SENDER_ID</key>
	<string>62585584343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eneskay.CocukGelisimApp</string>
	<key>PROJECT_ID</key>
	<string>cocukgelisimapp</string>
	<key>STORAGE_BUCKET</key>
	<string>cocukgelisimapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62585584343:ios:39883e87faae5e4fdbce92</string>
</dict>
</plist>